<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baopengjian.ray_seniorui">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tenth.SearchViewActivity" />
        <activity android:name=".tenth.WaveViewActivity" />
        <activity android:name=".tenth.LoadingViewActivity" />
        <activity android:name=".tenth.PathMeasureBasicActivity" />
        <activity android:name=".tenth.SeniorUI10_PathMeasureActivity" />
        <activity android:name=".first.SeniorUI01_DrawingProcessActivity" />
        <activity android:name=".second.SeniorUI02_FlowLayoutActivity" />
        <activity android:name=".second.SeniorUI02_WaterFlowActivity" />
        <activity android:name=".third.circle.SeniorUI03_CircleProgressActivity" />
        <activity android:name=".third.basic.SeniorUI03_PaintBasicActivity" />
        <activity android:name=".third.basic.SeniorUI03_DashViewActivity" />
        <activity android:name=".third.minion.SeniorUI03_MinionActivity" />
        <activity android:name=".fourth.SeniorUI04_LinearGradientActivity" />
        <activity android:name=".fourth.SeniorUI04_ShaderZoomActivity" />
        <activity android:name=".fourth.SeniorUI04_GradientActivity" />
        <activity android:name=".fifth.activity.SeniorUI05_InvertedImageActivity" />
        <activity android:name=".fourth.SeniorUI04_RadarActivity" />
        <activity android:name=".fourth.SeniorUI04_RippleActivity" />
        <activity android:name="com.example.baopengjian.ray_seniorui.TestActivity" />
        <activity android:name=".fifth.activity.XfermodeActivity" />
        <activity android:name=".fifth.activity.SeniorUi05_RoundImageActivity" />
        <activity android:name=".fifth.activity.SeniorUI05_HeartMapActivity" />
        <activity android:name=".fifth.activity.SeniorUI05_GuaGuaCardActivity" />
        <activity android:name=".fifth.activity.SeniorUI05_WaveViewActivity" />
        <activity android:name=".fifth.activity.Senior05_LightBookActivity" />
        <activity android:name=".sixth.activity.SeniorUI06_FilterActivity" />
        <activity android:name=".seventeenth.SeniorUI07_CanvasEmployActivity" />
        <activity android:name=".eighth.SeniorUI08_CanvasCaseActivity" />
        <activity android:name=".eighth.DrawingBoardActivity" />
        <activity android:name=".eighth.RevealViewActivity" />
        <activity android:name=".eighth.SearchViewActivity" />
        <activity android:name=".ninth.SeniorUI09_BezierActivity" />
        <activity android:name=".twelfth.SeniorUI12SvgActivity" />
        <activity android:name=".fourteenth.ListViewConvertActivity" />
        <activity android:name=".fifteenth.AnimationActivity" />
        <activity android:name=".sixteenth.AnimationDemoActivity" />
        <activity android:name=".sixteenth.gift.GiftActivity" />
        <activity
            android:name=".sixteenth.taobao.TaoBaoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".eighteenth.AnimationSplashActivity" />
        <activity android:name=".nineteenth.AnimationFrameworkActivity" />
        <activity android:name=".twentieth.ViewPagerTransformActivity" />
        <activity android:name=".twenty_second.RecyclerViewActivity" />
        <activity
            android:name=".twenty_second.RecyclerIssueActivity"
            android:theme="@style/ToolbarTheme" />
        <activity android:name=".twenty_second.RecyclerCacheActivity" />
        <activity android:name=".twenty_second.HeaderAndFooterActivity" />
        <activity android:name=".twenty_third.ItemTouchHelperActivity" />
        <activity android:name=".twenty_third.extension.ItemTouchExtensionActivity" />
        <activity android:name=".twenty_fourth.RecyclerViewSwipeCardActivity" />
        <activity android:name=".twenty_fifth.DrawerLayoutActivity"/>
        <activity android:name=".twenty_sixth.SnackeBarActivity"/>
        <activity android:name=".twenty_seventh.navigation.NavigationActivity"/>
        <activity android:name=".twenty_seventh.navigation.ToolBarActivity"/>
    </application>

</manifest>